/* Services */
.unique h2 {
    font-size: 24px;
    color: #303030;
    font-weight: 400 !important;
}

.line {
    height: 1px;
    width: 40%;
    background: #e3e3e3;
    margin-bottom: 15px;

}

.video {
    width: 700px;
    height: 375px;
    position: relative;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.video i {
    font-size: 80px;
    font-weight: 300;
    z-index: 555;
    color: rgba(255, 255, 255, 0.647);
}
.video i:hover {
    color: rgba(255, 255, 255, 1);
}

#videoImg{
    object-fit: cover;

}