/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Services */
.unique h2 {
    font-size: 24px;
    color: #303030;
    font-weight: 400 !important;
}

.line {
    height: 1px;
    width: 40%;
    background: #e3e3e3;
    margin-bottom: 15px;

}

.video {
    width: 700px;
    height: 375px;
    position: relative;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
}

.video i {
    font-size: 80px;
    font-weight: 300;
    z-index: 555;
    color: rgba(255, 255, 255, 0.647);
}

.video i:hover {
    color: rgba(255, 255, 255, 1);
}

#videoImg {
    -o-object-fit: cover;
       object-fit: cover;

}

.main-h1 {
    font-size: 38px !important;
    margin: 0 45px;
    line-height: 55px;
}
.hire-us{
    background-image: url(../../images/archi16.jpg);
    background-position: center; 
    height: 60%;
    position: relative;
}
.hire-us span{
    font-size: 36px;
}
.hire-us p, .btn-hire{
    font-size: 20px;
}
.hire-us p{
    color: rgba(255,255,255,.82);
}

.overlayer{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 995px) {
    .about-img{
        width: 100%;
    }
}
@media (max-width: 767px) {
    #Architecture{
      margin: 0 10px;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #Architecture{
    font-size: 30px !important;
    margin: 0px 5px !important;
    line-height: 40px;
  }
}