/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* About */
.about-img {
    width: 90%;
}

/* title */
.about-title h1 {
    font-size: 50px;
}

.about-title p {
    font-size: 24px;
    margin: 10px 0;
}

.about-text-color {
    color: #262626;
}


/* our methood */
/* our methood */
.our-methood h3{
    color: #303030;
    font-size: 30px;
}
.tabs{
    border-bottom: 0.5px solid #999;
}
.tabs span{
    font-size: 14px;
    color: #303030;
    font-weight: 700;
    padding: 10px;
}
.tabs-text-color{
    color: #303030;
    font-size: 15px;
    line-height: 27.9px;
}
.tabs .active{
    background: transparent !important;
    /* color: #d8b478 !important; */
    border: #d8b478 3px solid;
}

/* our team */
.team h4 {
    font-size: 22px;
    font-weight: 400;
}

.team span {
    color: #999;
}

/* our team layer */
.icon-holder2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px #d4d4d4 solid;
    background-color: #ffffff;
    color: #535353 !important;
    cursor: pointer;
}

.icon-holder2:hover {
    color: white !important;
}
/* zoom */
.zoom img {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.zoom:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}


/* social icons */
.social {
    background-color: rgba(255, 255, 255, 0.704);
    position: absolute;
    inset: 5px;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.social-icons {
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.social-icons:hover {
    background-color: #fff;
    border: 1px solid #000;
}

.social-icons:hover i {
    color: #000 !important;
}

.item2:hover .social {
    cursor: pointer;
    opacity: 1;
    -webkit-transform: rotateY(0deg) scale(1, 1);
    transform: rotateY(0deg) scale(1, 1);
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 995px) {
    .about-img {
        width: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
     .tabby-content{
        top: 60px;
     }
     .tabby-tab label{
        height: 60px;
     }
    .team {
        padding: 10px 5px !important;
    }

    .team .row {
        padding: 10px !important;
    }

    .edit {
        padding: 10px !important;
    }
}