/* home */
.home-bg {
    /* transform: scale(2, 1); */
    height: 800px;
    background-position: center center;

}

.carousel-width {
    width: 6%;
}

.home-main {
    z-index: 666;
}

.home-main .p1 {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 5px;
}

.home-main .p2 {
    font-size: 24px;
    line-height: 44px;
    margin: 10px 0 20px;
}

.home-main h1 {
    font-size: 75px;
    margin-bottom: 10px;
}

.control {
    width: 55px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

.control:hover {
    opacity: 1;
}

.home-main .btn {
    font-weight: 700 !important;
}

.main-text-color {
    color: #606060;
}

/* second-section */
.home-title {
    font-size: 32px;
    line-height: 44px;
    color: #303030;
}

.contact-title {
    font-size: 24px;
}

.second-section p {
    padding: 20px 0px;
    max-width: 70%;
    margin: auto;
    font-size: 18px;
    line-height: 33px;
}

/* home-counter */
.home-counter {
    background-image: url(../../images/archi16.jpg);
    position: sticky;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: cover;
    padding: 30px 0;
}

.home-counter i {
    font-size: 40px;
}

.counter-num {
    font-size: 52px;
}

.counter-title {
    font-size: 20px;
}

/* fifth-section */
.fifth-section h3 {
    font-size: 24px;
    color: #303030;
    line-height: 33.12px;
    font-weight: 400;
}

.fifth-section p {
    font-size: 18px;
    line-height: 33.12px;
}

/* testimonials */
.testimonials {
    background-image: url(../../images/archi-12.jpg);
    background-size: cover;
    background-position: center center;
    height: auto;

}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
}

.testimonials h3 {
    font-size: 30px;
}

.testimonials p {
    font-size: 17px;
}

.testimonials-item {
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.testimonials-item::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 26px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(255, 225, 225, 0.1);
}

.testimonials .client {
    font-size: 15;
}

.testimonials .company {
    font-size: 1em;
    opacity: .7;
}

/* contact */
.map {
    height: 500px;
}

.contact-icon:hover {
    background-color: #d8b478 !important;
    border-color: #d8b478 !important;
}

.contact-icon:hover i {
    color: white !important;
}

/* Large desktop */
@media (max-width: 1200px) {
    .home-main h1 {
        font-size: 60px
    }

    .home-bg {
        transform: scale(1.5, 1);
        width: 100%;
        height: 100vh;
    }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 995px) {
    nav .container {
        padding: 0px 10px !important;
    }
    .home-bg {
        transform: scale(2, 1);
        height: 700px;
        background-position: center center;

    }

    .imgs-width {
        width: 100%;
    }

    .container {
        width: 100% !important;
    }

    .home-main h1 {
        font-size: 34px
    }

    .home-main .p1 {
        font-size: 18px;
    }

    .home-main .p2 {
        font-size: 20px;
    }

    .home-title {
        font-size: 28px;
        line-height: 30px;


    }

}

/* i- */
@media (max-height: 995px) {
    nav .container {
        padding: 0px 10px !important;
    }
    .home-bg {
        transform: scale(2, 1);
        height: 900px;
        background-position: center center;

    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    nav .container {
        padding: 0px 15px !important;
    }

    .home-main {
        transform: scale(0.7,0.7);
    }

    .map {
        height: 450px;
    }

    .second-section p {
        max-width: 100%;
    }

    .home-main h1 {
        font-size: 50px;
        margin: 0;
        line-height: 55px;
    }

    .home-main .p1 {
        font-size: 22px;
    }

    .home-main .p2 {
        font-size: 16px;
        margin: 10px 0;

    }

}

/* Landscape phones and down */
@media (max-width: 480px) {
    nav .container {
        padding: 0px 10px !important;
    }
    .home-main {
        transform: scale(0.9,0.9);
    }
    nav .nav-brand img {
        width: 100%;
    }

    .home-bg {
        transform: scale(4, 1);
        /* height: 100%; */
    }

    .home-main h1 {
        font-size: 40px;
        line-height: 50px;
        margin: 0;
    }

    .home-main .p1 {
        font-size: 22px;
        margin: 0;
    }

    .home-main .p2 {
        font-size: 13px;
        line-height: 26px;
        margin: 10px 0;
    }

    .testimonials {
        height: auto
    }
}