.About-Project .form-control:focus {
    border-color: #d8b478;
    box-shadow: 0 0 0 0.25rem #eccc94bf;
}
.btn-send{
    color: white ;
    background-color: #d8b478 ;
}
.btn-send:hover{
    color: #d8b478;
    background-color: transparent;
    box-shadow: 0 0 0 0.25rem #edd5abcb;
}
.btn:disabled{
    background-color: #e3be7d !important;
    border-color: #d8b478;
    color: white ;

}