/* tabs & navs */
.works-tabs .nav-link {
    color: #949494 !important;
    font-size: 16;
    padding: 0 10px;
    border: 0px solid transparent ;
    background-color: transparent !important;

}

.works-tabs .nav-link:hover {
    color: #2d2c2c ;
}

.active-works{
    background-color: transparent ;
    border-radius: 0;
    color: #2d2c2c !important;
    border-bottom: 3px solid #2d2c2c2d ;
}

.work {
    overflow: hidden;
}

.work:hover .portfolio-layer {
    top: 0;
}

.portfolio-layer {
    position: absolute;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 55;
    transition: all 0.5s;
    overflow: hidden;
}

.portfolio-layer h4 {
    color: white;
    position: relative;
    opacity: 0;
    top: -50%;
    margin-bottom: 15px;
    transition: all 0.5s;
}

.p-icon {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333 !important;
}

.p-icon:hover {
    background-color: #333;
}

.p-icon:hover i {
    color: rgba(255, 255, 255) !important;
}

.portfolio-icons {
    position: relative;
    bottom: -50%;
    transition: all 0.5s;
}

.portfolio-layer:hover h4 {
    top: 0px;
    opacity: 1;

}

.portfolio-layer:hover .portfolio-icons {
    bottom: 0px;
}

.i-close {
    color: rgba(255, 255, 255, 0.418);

}

.i-close:hover {
    color: rgba(255, 255, 255);

}

/* modal */
.works-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5555;
    display: none;
}

.model-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.arrow-right {
    position: absolute;
    right: 1%;
    color: white;
}

.arrow-left {
    position: absolute;
    left: 1%;
    color: white;
}

.content {
    height: 90%;
}

.work-img {
    height: 90%;
    object-fit: cover;
}
#modal {
    transition: all 0.5s;
}

/* Large desktop */
@media (max-width: 1200px) {
    .content {
        width: 80%;
    }

    .work-img {
        width: 100%;
    }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 995px) {
    .content {
        width: 90%;
    }

    .work-img {
        width: 100%;
        height: auto;
    }

    .portfolio-icons {
        bottom: 0;
    }

    .portfolio-layer h4 {
        opacity: 1;
        top: 0%;
        font-size: 18px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .content {
        width: 80%;
    }
     .portfolio-layer h4 {
        font-size: 18px;
    }
}
/* Landscape phones and down */
@media (max-height: 480px) {
    .work-img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
    .model-container {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
   
}