
:root {
  --text-color: #797979;
  --text-width: 380px
}  
/* start footer section */

footer {
  color: var(--text-color);
}

.footer1 {
  background-color: #262626;
}

footer h4 {
  color: white;
  font-weight: 400;
}

.footer-border {
  border-bottom: 1px solid #7979796c;
}

footer p {
  line-height: 29.76px;
  max-width: var(--text-width)
}

.footer-contact {
  background: url(../../images/contact-details-map.png) no-repeat center;
}

.footer-layer {
  background-color: #262626c6
}

.footer2 {
  background-color: #1e1e1e;
}

.icon-holder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1c1c1c ;
  color: #535353;
  cursor: pointer;
}
.icon-facebook .icon-google .icon-tumblr .icon-twitter{
  transition: all 0.3s;
}

.icon-facebook:hover {
  background: #3b5998;
  color: white;
}

.icon-google:hover {
  background: #dd4b39;
  color: white;
}

.icon-tumblr:hover {
  background: #32506d;
  color: white;
}

.icon-twitter:hover {
  background: #00aced;
  color: white;
}