@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
.body{
    font-family: 'Open Sans', sans-serif;
}
/*  Navbar */
.nav-link{
    color: white !important;
    font-size: 17px;
}
.nav-link:hover{
    color: white !important;
}
.nav-link:focus .nav-link.active {
    color: white !important;
}
.imgs-width {
    width: 80%;
}