@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Open Sans', sans-serif !important;
}
:root{
    --dark-color: #262626;
}
/* loading */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 555555;
    background-color: white;
}

.nn{
    position: relative;
    right: 300px;
}
/*  Navbar */
nav {
    padding: 15px 0;
    transition: all 0.5s;
}

.nav-link {
    color: white ;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 0.1s;
    padding: 5px 0;
    margin: 5px 0;
}
.activeLink {
    border: 2px solid;
    font-weight: 500;
}
/* light nav */
.ligh-nav:hover {
    color: white ;
    border: 2px solid;
    border-radius: 10px;
}
.navbar-brand img {
    width: 50%;
    margin-bottom: 5px;
}
.ligh-nav:focus .ligh-nav.active {
    color: white ;
}
/* dark nav */
.dark-nav{
    color: var(--dark-color);
}
.dark-nav:focus .dark-nav.active {
    color: var(--dark-color);
}
.dark-nav:hover {
    border: 2px solid var(--dark-color);
    border-radius: 10px;
    color: var(--dark-color) !important;
}
.navbarHome-bg {
    background-color: #312e29 !important;
    padding: 10px 0 !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;

}

.max-width {
    max-width: 550px;
}

.imgs-width {
    width: 80%;
}

.cursor-pointer {
    cursor: pointer;
}

.main-font-weight {
    font-weight: 400;
}

.main-p {
    color: #606060;
    font-size: 17px;
    line-height: 30px;
}

.main-h2 {
    font-size: 30px;
    color: #303030;
    font-weight: 400;
}

.main-bg-color {
    background-color: #f8f8f8;
}

.img-transform {
    transition: all 0.5s ease 0s;
}

.over-flow {
    overflow: hidden;
}

.over-flow:hover .img-transform {
    transform: scale(1.1);
}

.object {
    object-fit: cover;
}

@media (max-width: 995px) {}